<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Create Book</title>
    <style>
      html,
      body,
      p {
        padding: 0;
        border: 0;
        margin: 0;
      }
      body {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: left;
        height: 100vh;
      }
      p {
        margin-left: 4rem;
        font-size: 2rem;
        color: black;
      }
      .link {
        font-size: 1rem;
      }
    </style>
  </head>
  <body>
    {{range .}}
    <p>
      <a href="/book/details/{{.Isbn}}">{{.Isbn}}</a> - {{.Title}} -
      {{.Author}} - {{.Price}} - <a href="/book/update/{{.Isbn}}">update</a> -
      <button data-url="/book/delete/{{.Isbn}}" onclick="handleDelete(event)">
        delete
      </button>
    </p>
    {{ end }}

    <p class="link"><a href="/book/create">Insert A Book</a></p>

    <script>
      function handleDelete(event) {
        event.preventDefault();
        event.stopPropagation();

        deleteUrl = event.target.getAttribute("data-url");
        fetch(deleteUrl, {
          method: "DELETE",
          redirect: "manual",
          mode: "cors",
        }).finally(() => {
          window.location.href = "/books";
        });
      }
    </script>
  </body>
</html>
